@media print {
  header,aside,nav.nav-bar,form,.cookie-alert,footer.page-footer {
    display:none!important;
  }
  article {
    width:100%!important;
    padding:0!important;
    margin:0!important;
  }
}
@page {
margin:1.7cm;
}